<div ng-cloak>
    <div class="jumbotron">
        <div class="container">

            <div class="col-md-12">

                <img class="img-responsive center-block" src="../images/hearts.png ">
                <!--<span class="hearts img-responsive img-rounded"></span>-->
            </div>
        </div>

    </div>

    <div class="container">
        <br /><br />
        <p><a class="btn btn-primary btn-group-justified" href="#/login" role="button" translate="global.menu.account.login">Sign in </a></p>
        <br />
        <p><a class="btn btn-primary btn-group-justified" href="#/register" role="button" translate="global.menu.account.register">Register </a></p>
        <!-- Example row of columns -->
       </div>
</div>